@import "bootstrap";


@font-face {
  font-family: 'Minion Pro';
  src:  
    url(/assets/ionproboldconddisplay.ttf) format("truetype"), 
    url(/assets/MinionPro.otf) format("opentype");
  font-weight: normal;
  font-style: 'Bold Cond Display';
}

.navbar-default {
    background: transparent;
    background-color: rgb(125,117,129);
    border-color: rgb(125,117,129);
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: rgb(49,30,51);
    font-family: 'Minion Pro'; /* Имя шрифта */
    font-size: 20px;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d1ffed;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: rgb(49,30,51);
    font-family: 'Minion Pro'; /* Имя шрифта */
    font-size: 18px;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d1ffed;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #1C1C1C;
    background-color: #1C1C1C;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}



.table {
  background: transparent;
  border-color: #8B3626;
  color: #FFFAFA;
  text-align: center;
}
.navbar-right {
  margin-right: 50px; 
}

.btn {
    
}

.form-control {
    width: 20%;
    position: center;  
}

.checkbox {
    position: center;  
}