<div class="list-group">
 <h1 class="list-group-item active"><%= continent.name %></h1>
  <br>
  <% continent.countries.each do |country| %>
    <h2 class="list-group-item"><%= country.name  %></h2>
    <br> 
    <% country.coin_sets.each do |coin_set| %>
      <h3><%= coin_set.years  %></h3>
        <% coin_set.coins.each do |coin| %>
          <br>
         <%= link_to "#{coin.nominal} #{coin.currency}", coin_information_path(coin)%>
        <% end %>
    <% end %>
 <% end %>
</div> 
