 <div id="list-continents"><%= continent.name %></div>
  <% continent.countries.each do |country| %>
    <div id="list-countries"><%= country.name%></div>
      <% country.coin_sets.each do |coin_set| %>
      <div id="list-sets"><%= coin_set.years  %></div>
        <div id="coins">
        <table>
          <% coin_set.coins.each do |coin| %> 
            <tr><%= link_to "#{coin.nominal} #{coin.currency}", coin_information_path(coin), id: "list-coins"%></tr>
          <% end %>
        </table>
</div>
    <% end %>
 <% end %>
